
.joinus{

    width: 100%;
    background-color: #FFDED6;
    padding: .5rem;

}

.click {

    color: #E3B692;
    font-weight: 700;

}

.heading{

    width: 100%;
    max-width: 80rem;
    margin: 1rem auto;

}
 .heading img{
    width: 100%;
     padding: 0px .5rem;
 }