.cardWrapper1{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
    margin: auto;
    gap: 1rem;

}

.card img{

    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 30rem;

}