
.youtubeVideos{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    margin: auto;

}

.youtubeVideos iframe{

    margin: auto;
    width: 100vw; 
    height: 15vw;
    max-width: 30rem;
}
