.heading{

    width: 100%;
    max-width: 80rem;
    margin: 1rem auto;

}
 .heading img{
    width: 100%;
     padding: 0px .5rem;
 }

 .credits{

    text-align: center;
    padding: 1%;
    background-color: #FFDED6;
    color: #E3B692;
    font-size: 1.75rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-weight: 600;

 }
 
 .credits a{

    font-family: 'Original Surfer', cursive;
    -webkit-text-stroke: 2px #E3B692;
    font-size: 2.25rem;
    letter-spacing: 1px;
    color: transparent;

 }

 @media screen and (max-width: 600px) {

   .credits a{
      -webkit-text-stroke: 1.1px #E3B692;
   }

   .footer .credits{

      padding-top: 10%;
      padding-bottom: 17.5%;

   }
    
 }