:root {
  --primary: #FFEDDE;
  --secondary: #D56638;
  --black: #321F10;
  --white: #fff;
  --speciality: url('/assets/speciality.webp');
  --restaurant: url('/assets/restaurant.webp');
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Jost, sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{

  font-weight: 600;

}

h2{

  font-weight: 500;

}